<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="PluginConfiguration" type="SitecoreConverter.Core.Plugins.PluginManagerConfiguration, Core, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>

  <appSettings>
    <!-- \p{S} or \p{Symbol}: math symbols, currency signs, dingbats, box-drawing characters, etc..-->
    <!-- \p{P} or \p{Punctuation}: any kind of punctuation character.-->
    <!-- default: ^\w.(\p{S}|\p{P}) -->
    <add key="ItemNameValidation" value="^[\w\s.æøåÆØÅ()\*\$][\w\s.æøåÆØÅ()\s\-\$]*(\(\d{1,}\)){0,1}$"/>
  </appSettings>

  <PluginConfiguration name="Configured Plugins">
    <ItemCopyPlugins>
      <!-- add name="test" type="SitecoreConverter.Core.PluginData, SitecoreConverter.Core, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" -->
      <!-- add name="FieldConverterPlugin" assembly="Core" plugintype="SitecoreConverter.Core.Plugins.FieldConverterPlugin"/ -->
      <!-- add name="MoveItemToDateFolderPlugin" assembly="Core" plugintype="SitecoreConverter.Core.Plugins.MoveItemToDateFolderPlugin"/ -->
      <add name="HtmlToXhtmlPlugin" assembly="HtmlToXhtmlPlugin" plugintype="SitecoreConverter.Plugins.HtmlToXhtmlPlugin"/>
      <add name="ContentFilteringPlugin" assembly="Core" plugintype="SitecoreConverter.Core.Plugins.ContentFilteringPlugin"/>
      <!-- add name="FilestorageConversionPlugin" assembly="FilestorageConversionPlugin" plugintype="SitecoreConverter.Plugins.FilestorageConversionPlugin"/ -->
      <!-- add name="GoogleTranslate" assembly="Core" plugintype="SitecoreConverter.Core.Plugins.GoogleTranslatePlugin"/ -->
      <add name="IconPathConverter" assembly="Core" plugintype="SitecoreConverter.Core.Plugins.IconPathConverterPlugin"/>
      <add name="MoveBranchItems" assembly="Core" plugintype="SitecoreConverter.Core.Plugins.MoveBranchItems"/>
      <!-- add name="CustomConverterPlugin" assembly="Core" plugintype="SitecoreConverter.Core.Plugins.CustomConverterPlugin"/ -->
    </ItemCopyPlugins>
  </PluginConfiguration>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GalleryAPISoap" closeTimeout="00:15:00" openTimeout="00:15:00" receiveTimeout="00:10:00" sendTimeout="00:15:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="">
              <extendedProtectionPolicy policyEnforcement="Never"/>
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localgallery/GalleryAPI.asmx" binding="basicHttpBinding" bindingConfiguration="GalleryAPISoap" contract="Gallery.GalleryAPISoap" name="GalleryAPISoap"/>
    </client>
  </system.serviceModel>

  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="SitecoreConverter.Core.XmlCleanupSoapExtension, Core" priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
